.App {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container {
  outline: 1px solid white;
  /* height: 100vh; */
  /* gap: 20px */
}

.header {
  color: white;
  font-size: 44px;
  margin: 50px 0 10px 0;
  font-weight: bold;
}

body {
  background: #252525;
}

.cells {
  display: flex;
  outline: 1px solid white;
  /* background-color: #616161; */
  padding: 15px;
  gap: 15px;
}

.cell {
  color: white;
  border: 1px solid white;
  background-image: linear-gradient(to bottom, #252525 72.5%, #555555 27.5%);
  border-radius: 10px;
  width: auto;
  padding: 0 10px 0 10px;
}

.cell h4 {
  padding-top: 7.5px;
  color: #999999;
  font-style: italic;
  height: 69px;
}

.cell img{
  /* max-width: 200px; */
  cursor: pointer;
  margin-top: 10px;
  max-height: 90px;
  width: auto;
  height: auto;
  
}

.bot {
  position: relative;
  display:flex;
  justify-content: center;
  color: white;
  gap: 50px;
  padding: 10px 0;
}

.bot h3{
  margin: 0;
}

.date p {
  font-size: medium; 
}

.info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid white;
  border-radius: 10px;
  width: 15px;
  background-color: #555555;
}

.info:hover{
  background-color: #777777;
  cursor: pointer;
}

.text {
  font-weight: bold;
  /* font-style: italic; */
}

.select {
  margin-top: 5px;
  width: 150px
}